.blogSec {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr, 1fr;
  margin: 4rem 0;
}

.posts {
  margin: 2rem 0;
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
.postPage {
  margin: 4rem 0;
}
.postLink {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.postIntro {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  .author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
    small {
      margin-left: 10px;
      a {
        color: #754ec1;
      }
    }
    img {
      margin: unset;
    }
  }
  small {
    margin: 5px 0;
  }
  img {
    margin: 0 auto;
  }
}
