@import "../styles/variables";
.intro {
  // height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  align-items: center;
  h1 {
    margin-bottom: 0;
    font-size: 4rem;
  }
}
.videoBtn {
  margin-top: 2rem;
  button {
    color: #754ec1;
  }
  font-size: 1.25rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.latest {
  display: flex;
  flex-direction: column;
  .heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $divider;
    align-items: center;
  }
  .posts {
    margin: 2rem 0;
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
    }
  }
}
// working experience styling
.experienceContainer {
  display: grid;
}
.experienceItem {
  display: grid;
  position: relative;
  padding-left: 2rem;
  padding-bottom: 2rem;
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    background-color: #204ecf;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 3.5px;
    // background-color: #204ecf;
    border-left: 1px dashed #204ecf;
    width: 1px;
    height: 95%;
  }
}
.itemContainer {
  display: grid;
  row-gap: 1.5rem;
}
.itemHeadings {
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 16px;
    margin: 0 0 0.3rem 0 !important;
    font-weight: 600;
  }
  p {
    margin: 0;
  }
}
.achievmentsContainer {
  margin-left: 1.1rem;
  display: grid;
  list-style-type: disc;
  row-gap: 0.5rem;
  li {
    padding-left: 0.5rem;
  }
}
.technologiesContainer {
  display: flex;
  font-size: 12px;
  align-items: center;
  column-gap: 3px;
  p {
    margin-right: 4px;
  }
}
