@import "./_variables.scss";
@font-face {
    font-family: 'Segoe';
    src: url('../assets/fonts/segoe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: "Segoe";
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1rem 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
.primaryText {
  font-size: 1.5rem;
  line-height: 2;
}
.text2 {
  line-height: 1.5;
}
.secondaryText {
  margin: 0.5rem 0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
button {
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
p {
  line-height: 1.5;
}
