.nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cbd5e0;
  .title,
  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      column-gap: 1rem;
      margin: 2rem 0 1rem 0;
      padding: 0;
      li {
        a {
          color: #5f6c80;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: #000;
            transition: all ease-out 0.2s;
          }
        }
      }
    }
  }
}
